fastapi
uvicorn

# Database
sqlalchemy
asyncpg
psycopg2-binary

# Migrations
alembic

# Auth & security
python-jose[cryptography]
passlib[bcrypt]
python-multipart
argon2-cffi

# Validation & config
pydantic
pydantic-settings
email-validator

# Utilities
python-dotenv

# po pdf and email dependancies 
Jinja2
reportlab
openpyxl
openai
# render
gunicorn
